In [7]:
def square_pattern():
    n = int(input())
    for i in range(n):
        for j in range(n):
            print('*',end = '')
        print()

In [8]:
square_pattern()

****
****
****
****

In [14]:
def right_angled_triangle():
    n = int(input('Enter the num'))
    for i in range(n):
        for j in range(i+1):
            print('*',end = ' ')
        print()
right_angled_triangle()

*
* *
* * *
* * * *
* * * * *

In [15]:
def pattern_3():
    n = int(input())
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(j,end = ' ')
        print()
pattern_3()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [16]:
def pattern_4(n):
    for i in range(1,n+1):
        for j in range(1,i+1):
            print(i,end = ' ')
        print()
pattern_4(4)

1
2 2
3 3 3
4 4 4 4

In [18]:
def pattern_5(n):
    for i in range(n,0,-1):
        for j in range(i):
            print('*',end = ' ')
        print()
pattern_5(4)

* * * *
* * *
* *
*

In [ ]:
# n-i+1

In [34]:
def pattern_5(n):
    for i in range(n): 
        for j in range(1,n-i+1):
            print('*',end = ' ')
        print()
pattern_5(4)

* * * *
* * *
* *
*

In [31]:
def pattern_6(n):
    for i in range(n):
        for j in range(1,n-i+1):
            print(j,end = ' ')
        print()
pattern_6(4)

1 2 3 4
1 2 3
1 2
1

In [3]:
def pattern_7(n):

    for i in range(n):
        for j in range(n-i-1):
            print(' ',end = '')
        for k in range(2*i+1):
            print('*',end = '')
        for l in range(n-i-1):
            print(' ',end = '')
        print()
pattern_7(5)

    *
   ***
  *****
 *******
*********

In [5]:
def pattern_8(n):
    for i in range(n):
        for j in range(i):
            print(' ',end = '') 
        for  k in range(2*n-(2*i+1)):
            print('*',end = '')
        for l in range(i):
            print(' ',end = '')
        print()
    
pattern_8(5)

*********
 *******
  *****
   ***
    *

In [1]:
def pattern_star_n_number(n):
    for i in range(n):
        for j in range(n-i-1):
            print('-',end = ' ')
        for k in range(2*i+1):
            print(k+1,end = ' ')
        for l in range(n-i-1):
            print('-',end = ' ')
        print()
    

pattern_star_n_number(5)

- - - - 1 - - - -
- - - 1 2 3 - - -
- - 1 2 3 4 5 - -
- 1 2 3 4 5 6 7 -
1 2 3 4 5 6 7 8 9

In [2]:
n = 5

num = 1
for i in range(n):
    for j in range(i+1):
        print(num,end = ' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [6]:
pattern_7(5)
pattern_8(5)

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [22]:
n = 5

for i in range(2*n-1):
        if i < n:
            count = i +1
        else:
            count = 2*n-i-1
            
        for j in range(count):
            
            print('*',end = ' ')
            

        
        print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [24]:
n = 5

for i in range(1,n+1):
    print('* '*i)

for j in range(n-1,0,-1):
    print('* '*j)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [2]:
n = 5

num = 1
for i in range(n):
    for j in range(i+1):
        print(num,end = ' ')
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [1]:
n = 5

start = 1
for i in range(n):
    if i%2 == 0:
        start = 0
    else:
        start = 1
    for j in range(i+1):
        start = 1-start
        print(start,end = ' ')
    print()

1
0 1
1 0 1
0 1 0 1
1 0 1 0 1

In [36]:
n = 5

for i in range(n):
    for j in range(i+1):
        print(j+1,end = ' ')
    for k in range(n-i-1):
        print(' ',end = ' ')
    for m in range(n-i-1):
        print(' ',end = ' ')
    
    for l in range(i+1,0,-1):
        print(l,end = ' ')
    print()

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [38]:
n = 5

space = 2*(n-1)

for i in range(n):
    for j in range(i+1):
        print(j+1,end = ' ')
    for k in range(space):
        print(' ',end = ' ')
    for l in range(i+1,0,-1):
        print(l,end = ' ')
    print()
    space -= 2

1                 1
1 2             2 1
1 2 3         3 2 1
1 2 3 4     4 3 2 1
1 2 3 4 5 5 4 3 2 1

In [66]:
n = 5

for i in range(n):
    m = 65
    for j in range(i+1):
        print(chr(m),end = ' ')
        m += 1
    print()

A
A B
A B C
A B C D
A B C D E

In [70]:
n = 5

for i in range(n):
    m = 65
    for j in range(1,n-i+1):
        print(chr(m),end = ' ')
        m += 1
    print()

A B C D E
A B C D
A B C
A B
A

In [82]:
n = 5

for i in range(n):
    m = 65
    for j in range(i+1):
        print(chr(m+i),end = ' ')
    print()

A
B B
C C C
D D D D
E E E E E

In [108]:
n = 5

for i in range(n):
    start = 97
    for j in range(n-i-1):
        print('-',end = ' ')
    for k in range(i,-1,-1):
        print(chr(start+k),end = ' ')
        
    print()

- - - - a
- - - b a
- - c b a
- d c b a
e d c b a

In [111]:
ord('a')

97

In [117]:
n = 3

for i in range(2*n-1):
    if i < n:
        count = i+1
    else:
        count = 2*n - i - 1
        
    for j in range(count):
        print('*',end = ' ')
            
    
            
    print()

*
* *
* * *
* *
*

In [31]:
n = 5

for i in range(1,n+1):
    num = i
    p = n
    for j in range(n-i+1,0,-1):
        print(num,end = ' ')
        num += p
        p -= 1
    
    print()

1 6 10 13 15
2 7 11 14
3 8 12
4 9
5

In [12]:
p = [[1,2,3,4],
     [5,6,7,8]]

for j,k in zip(p[0],p[1]):
    print(j,k)

1 5
2 6
3 7
4 8

In [32]:
n = 3

for i in range(1,n+1):
    num = i
    p = n
    for j in range(n-i+1):
        print(num,end = ' ')
        num += p
        p -= 1
    print()

1 4 6
2 5
3

In [17]:
s = 'abcdepqrst'
res=''
count=1
for ch in s:
    if ch!='_' and count==1:
        res=ch+res
    elif ch=='_' and count==1:
        count=0
        res+=ch
    else:
        res+=ch
        
print(res)

tsrqpedcba