In [ ]:
# problem solving

In [8]:
# factorial

num = int(input())

product = 1
while num > 1:
    product *= num
    num -= 1
print(f'factorial is {product}')

factorial is 24

In [6]:
# factorial
n = int(input('enter the value:'))
fact = 1
for i in range(2,n+1):
    fact *= i
print(f'factoria is :{fact}')

factoria is :24

In [10]:
# armstrong number

1**3+5**3+3**3

153

In [14]:
num = int(input('enter the value:'))
sum = 0
temp = num
while num > 0:
    digit = num %10
    sum += digit**3
    num //= 10
print('yes' if sum == temp else 'no')

yes

In [19]:
p = [1,2,3,4,5]
k = []
for i in p:
    item = p.pop()
    k.append(item)
print(k)

[5, 4, 3]

In [1]:
# reversing the list

a = [1,7,2,9]
b = list()
while a:
    b.append(a.pop())
print(b)

[9, 2, 7, 1]

In [7]:
# approach - 2

a = [1,7,1,0,2,0,0,1]
b = []
p = len(a)-1
while p  >= 0:
    b += [a[p]]
    p -= 1
print(b)

[1, 0, 0, 2, 0, 1, 7, 1]

In [22]:
# prime numbers

num = int(input('enter the value:'))
p = list()
for i in range(2,num):
    if num % i == 0:
        p.append(i)
if len(p) == 0:
    print('prime')
else:
    print('not prime')

not prime

In [27]:
# minimum value
lst = [1,2,3,4,5,-5,-10]
minimun_val = lst[0]
for i in lst:
    if i < minimun_val:
        minimun_val = i
print(minimun_val)

-10

In [30]:
# maximum value

lst_1 = [10,12,35,78,100,5432]
max_val = lst_1[0]
for i in lst_1:
    if i > max_val:
        max_val = i
print(max_val)

5432

In [21]:
# program for max vale abs(lst[i] - lst[j])

lst = [-1,0,5,7,10]
p = lst[0]

for i in range(len(lst)):
    for j in range(len(lst)):
        abs_diff = abs(lst[i] - lst[j])
        if abs_diff > p:
            p = abs_diff
print(p)

11

In [24]:
# updated one

new_list = [-1,0,5,7,10]

min_val = new_list[0]
max_val = new_list[0]

for i in range(1,len(lst)):
    if new_list[i] < min_val:
        min_val = new_list[i]
    if new_list[i] > max_val:
        max_val = new_list[i]
print(abs(max_val - min_val))

11

In [2]:
# list methods

n = int(input())

lst_1 = list()

for i in range(n):
    lst_1.append(int(input('Enter the value:')))
print(lst_1)

[1, 2, 3, 3]

In [3]:
print(id(lst_1))
print(lst_1)
lst_1.append('hello')
print(id(lst_1))
new_lst = lst_1.append(['arjun','it\'s time now'])
print(id(new_lst))
print(new_lst)
print(type(new_lst))

1854234179904
[1, 2, 3, 3]
1854234179904
140704527510256
None
<class 'NoneType'>

In [4]:
lst_1

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"]]

In [5]:
for i in lst_1: print(i,end = ' ')
print()
print('-'*50)

for i in range(len(lst_1)):
    if lst_1[i] == 4:
        continue
    print(lst_1[i])

1 2 3 3 hello ['arjun', "it's time now"]
--------------------------------------------------
1
2
3
3
hello
['arjun', "it's time now"]

In [6]:
lst_1

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"]]

In [7]:
lst_1.extend(['dhathathreya','dhigambara'])

In [13]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'padhavallaba']

In [12]:
len(lst_1)

9

In [10]:
lst_1.insert(8,'padhavallaba')

In [11]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'padhavallaba']

In [14]:
lst_1.insert(7,'dhigambara')

In [15]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'dhigambara',
 'padhavallaba']

In [16]:
lst_1.insert(7,'sarana:mama')

In [17]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'padhavallaba']

In [18]:
lst_1.append('dhigambara')

In [19]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'padhavallaba',
 'dhigambara']

In [29]:
for i in range(len(lst_1)):
    if type(lst_1[i]) != int :
        if lst_1[i] == 'padhavallaba':
            lst_1[i] = 'sri_padha_vallaba'
print(lst_1)

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"], 'dhathathreya', 'sarana:mama', 'dhigambara', 'dhigambara', 'sri_padha_vallaba', 'dhigambara']

In [30]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'sri_padha_vallaba',
 'dhigambara']

In [3]:
p = list(map(int,input().split()))
for item in p:
    if item %2 == 0:
        print('Even',end = '')
    else:
        print('Odd',end = '')

OddEvenOddEvenOddEven

In [22]:
str_1 = input('Enter:')

str_2 = input('Enter:')

for i in str_1:
    if i not in str_2:
        print(i,end = '')

cc

In [1]:
# minumum_number

In [4]:

lst_1 = list(map(int,input('Enter the number:').split()))

min_num = lst_1[0]

for i in range(len(lst_1)):
    if lst_1[i] < min_num:
        min_num = lst_1[i]
print(min_num)

5

In [13]:
dict([(1,2),(3,5)])

{1: 2, 3: 5}

In [14]:
a = {'rohit':45,'virat':18,'dhoni':7}

for i,j in a.items():
    print('keys---->',i,';','values---->',j)

keys----> rohit ; values----> 45
keys----> virat ; values----> 18
keys----> dhoni ; values----> 7

In [16]:
for i in a.keys():
    print(a.get(i))

45
18
7

In [20]:
print(a['sky'])

KeyError: 'sky'

In [19]:
print(a.get('sky'))

None

In [3]:
def factorial_num(n):
    product = 1
    for i in range(1,n+1):
        product *= i
    print(product)

In [6]:
factorial_num(4)

24

In [11]:
def smallest_num_list(l):
    smallest = l[0]
    for i in range(len(l)):
        if smallest > l[i]:
            smallest = l[i]
    return smallest

In [13]:
smallest_num_list([1,2,1,10,1000,0.05])

0.05

In [1]:
n = list(map(int,input().split()))
start = n[0]
end = n[1]

for i in range(start,end+1):  #-----------> (5,9) 2nd iteration (5,8) 3rd (5,7)
    for j in range(start,end+1): #--------> (5,9) 2nd iteration (5,8) 3rd (5,7)
        print(j,end = ' ')
    end -= 1
    print()

5 6 7 8
5 6 7
5 6
5

In [5]:
def add_num(*s):
    ''' 
    it helps to print the 
    sum of the numbers
    '''
    sum = 0
    for i in s:
        sum += i
    return sum

In [6]:
add_num(5,4,3,2,1)

15

In [7]:
help(add_num)

Help on function add_num in module __main__:

add_num(*s)
    it helps to print the
    sum of the numbers