In [ ]:
# problem solving

In [8]:
# factorial

num = int(input())

product = 1
while num > 1:
    product *= num
    num -= 1
print(f'factorial is {product}')

factorial is 24

In [6]:
# factorial
n = int(input('enter the value:'))
fact = 1
for i in range(2,n+1):
    fact *= i
print(f'factoria is :{fact}')

factoria is :24

In [10]:
# armstrong number

1**3+5**3+3**3

153

In [14]:
num = int(input('enter the value:'))
sum = 0
temp = num
while num > 0:
    digit = num %10
    sum += digit**3
    num //= 10
print('yes' if sum == temp else 'no')

yes

In [19]:
p = [1,2,3,4,5]
k = []
for i in p:
    item = p.pop()
    k.append(item)
print(k)

[5, 4, 3]

In [1]:
# reversing the list

a = [1,7,2,9]
b = list()
while a:
    b.append(a.pop())
print(b)

[9, 2, 7, 1]

In [7]:
# approach - 2

a = [1,7,1,0,2,0,0,1]
b = []
p = len(a)-1
while p  >= 0:
    b += [a[p]]
    p -= 1
print(b)

[1, 0, 0, 2, 0, 1, 7, 1]

In [22]:
# prime numbers

num = int(input('enter the value:'))
p = list()
for i in range(2,num):
    if num % i == 0:
        p.append(i)
if len(p) == 0:
    print('prime')
else:
    print('not prime')

not prime

In [27]:
# minimum value
lst = [1,2,3,4,5,-5,-10]
minimun_val = lst[0]
for i in lst:
    if i < minimun_val:
        minimun_val = i
print(minimun_val)

-10

In [30]:
# maximum value

lst_1 = [10,12,35,78,100,5432]
max_val = lst_1[0]
for i in lst_1:
    if i > max_val:
        max_val = i
print(max_val)

5432

In [21]:
# program for max vale abs(lst[i] - lst[j])

lst = [-1,0,5,7,10]
p = lst[0]

for i in range(len(lst)):
    for j in range(len(lst)):
        abs_diff = abs(lst[i] - lst[j])
        if abs_diff > p:
            p = abs_diff
print(p)

11

In [24]:
# updated one

new_list = [-1,0,5,7,10]

min_val = new_list[0]
max_val = new_list[0]

for i in range(1,len(lst)):
    if new_list[i] < min_val:
        min_val = new_list[i]
    if new_list[i] > max_val:
        max_val = new_list[i]
print(abs(max_val - min_val))

11

In [2]:
# list methods

n = int(input())

lst_1 = list()

for i in range(n):
    lst_1.append(int(input('Enter the value:')))
print(lst_1)

[1, 2, 3, 3]

In [3]:
print(id(lst_1))
print(lst_1)
lst_1.append('hello')
print(id(lst_1))
new_lst = lst_1.append(['arjun','it\'s time now'])
print(id(new_lst))
print(new_lst)
print(type(new_lst))

1854234179904
[1, 2, 3, 3]
1854234179904
140704527510256
None
<class 'NoneType'>

In [4]:
lst_1

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"]]

In [5]:
for i in lst_1: print(i,end = ' ')
print()
print('-'*50)

for i in range(len(lst_1)):
    if lst_1[i] == 4:
        continue
    print(lst_1[i])

1 2 3 3 hello ['arjun', "it's time now"]
--------------------------------------------------
1
2
3
3
hello
['arjun', "it's time now"]

In [6]:
lst_1

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"]]

In [7]:
lst_1.extend(['dhathathreya','dhigambara'])

In [13]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'padhavallaba']

In [12]:
len(lst_1)

9

In [10]:
lst_1.insert(8,'padhavallaba')

In [11]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'padhavallaba']

In [14]:
lst_1.insert(7,'dhigambara')

In [15]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'dhigambara',
 'dhigambara',
 'padhavallaba']

In [16]:
lst_1.insert(7,'sarana:mama')

In [17]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'padhavallaba']

In [18]:
lst_1.append('dhigambara')

In [19]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'padhavallaba',
 'dhigambara']

In [29]:
for i in range(len(lst_1)):
    if type(lst_1[i]) != int :
        if lst_1[i] == 'padhavallaba':
            lst_1[i] = 'sri_padha_vallaba'
print(lst_1)

[1, 2, 3, 3, 'hello', ['arjun', "it's time now"], 'dhathathreya', 'sarana:mama', 'dhigambara', 'dhigambara', 'sri_padha_vallaba', 'dhigambara']

In [30]:
lst_1

[1,
 2,
 3,
 3,
 'hello',
 ['arjun', "it's time now"],
 'dhathathreya',
 'sarana:mama',
 'dhigambara',
 'dhigambara',
 'sri_padha_vallaba',
 'dhigambara']

In [3]:
p = list(map(int,input().split()))
for item in p:
    if item %2 == 0:
        print('Even',end = '')
    else:
        print('Odd',end = '')

OddEvenOddEvenOddEven

In [22]:
str_1 = input('Enter:')

str_2 = input('Enter:')

for i in str_1:
    if i not in str_2:
        print(i,end = '')

cc

In [1]:
# minumum_number

In [4]:

lst_1 = list(map(int,input('Enter the number:').split()))

min_num = lst_1[0]

for i in range(len(lst_1)):
    if lst_1[i] < min_num:
        min_num = lst_1[i]
print(min_num)

5

In [13]:
dict([(1,2),(3,5)])

{1: 2, 3: 5}

In [14]:
a = {'rohit':45,'virat':18,'dhoni':7}

for i,j in a.items():
    print('keys---->',i,';','values---->',j)

keys----> rohit ; values----> 45
keys----> virat ; values----> 18
keys----> dhoni ; values----> 7

In [16]:
for i in a.keys():
    print(a.get(i))

45
18
7

In [20]:
print(a['sky'])

KeyError: 'sky'

In [19]:
print(a.get('sky'))

None

In [3]:
def factorial_num(n):
    product = 1
    for i in range(1,n+1):
        product *= i
    print(product)

In [6]:
factorial_num(4)

24

In [11]:
def smallest_num_list(l):
    smallest = l[0]
    for i in range(len(l)):
        if smallest > l[i]:
            smallest = l[i]
    return smallest

In [13]:
smallest_num_list([1,2,1,10,1000,0.05])

0.05

In [1]:
n = list(map(int,input().split()))
start = n[0]
end = n[1]

for i in range(start,end+1):  #-----------> (5,9) 2nd iteration (5,8) 3rd (5,7)
    for j in range(start,end+1): #--------> (5,9) 2nd iteration (5,8) 3rd (5,7)
        print(j,end = ' ')
    end -= 1
    print()

5 6 7 8
5 6 7
5 6
5

In [5]:
def add_num(*s):
    ''' 
    it helps to print the 
    sum of the numbers
    '''
    sum = 0
    for i in s:
        sum += i
    return sum

In [6]:
add_num(5,4,3,2,1)

15

In [7]:
help(add_num)

Help on function add_num in module __main__:

add_num(*s)
    it helps to print the
    sum of the numbers

In [23]:
def num_pattern(start,end):
    p = len(range(start,end))
    current = start
    for i in  range(p):
        for j in range(p):
            print(current,end = ' ')
            current += 1
    
        print()
        
num_pattern(1,5)

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [21]:
def star_pattern(n):
    for i in range(n):
        for j in range(n):
            if i == 0 or j == 0 or i == n-1 or j == n-1 :
                print('*',end = ' ')
            else:
                print(' ',end = ' ')
        print()

In [22]:
star_pattern(5)

* * * * *
*       *
*       *
*       *
* * * * *

In [19]:
def matrix_creation():
    n = int(input('Enter the num of  lists :'))
    p = list()
    for i in range(n):
        p.append(list(map(int,input('enter the lists:').split())))
    print(p)

In [20]:
matrix_creation()

[[1, 2], [3, 4]]

In [23]:
# niven number

In [45]:
def is_nivennumber(n):
    temp = n
    sum = 0
    while temp > 0:
        digit = temp%10
        sum += digit
        temp //= 10
    return sum


p = is_nivennumber(123)
if n%p == 0:
    print(f'{n} is a niven number')
else:
    print(f'{n} is not a niven number')
print(sum)

132 is a niven number
6

In [51]:
def fact_num(n):
    fact = 1
    for i in range(n,0,-1):
        fact *= i
    return fact
fact_num(6)

720

In [66]:
n = 4

for i in range(1,n+1):
    for j in range(1,n+1):
        temp = n-i
    print('*'*temp,end = '' )
    print()

***
**
*

In [68]:
n = 5
sum = 0
for i in range(1,n+1):
    sum += i
    print(sum,end = ' ')

1 3 6 10 15

In [71]:
n = 5
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

15

In [97]:
def reverse_star(n):
    for i in range(n,0,-1):
        for j in range(i-1):
            print('*',end = '')
        print()
reverse_star(4)

***
**
*

In [13]:
# sum 

lst = [-1,2,3,4,-5,1]

non_neg_sum = 0

for i in lst:
    print('before continue:',i)
    if i<0:
        continue
    print('after continue:',i)
    non_neg_sum += i
print(non_neg_sum)

before continue: -1
before continue: 2
after continue: 2
before continue: 3
after continue: 3
before continue: 4
after continue: 4
before continue: -5
before continue: 1
after continue: 1
10

In [19]:
l = ['1this','exa3m','questio4n','i2s']
k = list()
for i in l:
    m = list(i)
    print(m)

['1', 't', 'h', 'i', 's']
['e', 'x', 'a', '3', 'm']
['q', 'u', 'e', 's', 't', 'i', 'o', '4', 'n']
['i', '2', 's']

In [63]:
a = ['1this','exa3m','questio4n','i2s']
k = list()
new_lst = list()
for i in a:
    print(i)
    k.append(list(i))       

for j in k:
    for l in j:
        if l.isnumeric():
           j.remove(l)
for s in k:
    new_lst.append(''.join(s))
new_lst

1this
exa3m
questio4n
i2s

['this', 'exam', 'question', 'is']

In [3]:
firstname,lastname = input().strip().split()


print(firstname,lastname)

arjun thatha|

In [4]:
p = [1,2,3]
p.reverse()
p

[3, 2, 1]

In [8]:
a = 3
b = 12
lst1 = []
lst2 = []
for i in range(2,13):
    if i%2 == 0:
         lst2.append(i)
    else:
        lst1.append(i)
lst2.reverse()
for m,n in zip(lst1,lst2):
    print(m,n,end = ' ')

3 12 5 10 7 8 9 6 11 4

In [13]:
cars = list(map(str,input().split()))
p = cars[0].index('@')

smallest = float(cars[0][p+1:])
smallest_car = cars[0][:p]

for val in cars:
    p = val.index('@')
    if smallest > float(val[p+1:]):
        smallest = float(val[p+1:])
        smallest_car = val[:p]
        
print(smallest_car)

a

In [14]:
def sum_all_digits(n):
    while n >= 10:
        su = 0
        while n > 0:
            su += n%10
            n //= 10
        n = su
    return n

In [15]:
sum_all_digits(1257)

6

In [21]:
# sum of proper dividors

n = int(input())

divisors = [i for i in range(1,n) if n%i == 0]

sum = 0
for i in divisors:
    sum += i
print(f'sum of divisors is {sum}')

sum of divisors is 8

In [10]:
# example: input
'''
120@3 30@2


'''



a = list(map(str,input().split()))

distance = 0
speed = 0

for i in a:
    m = i.split('@')
    distance += int(m[0])
    speed += int(m[1])
print(f'{distance/speed:.2f} kmph')

25.00 kmph

In [13]:
# printing the multiples of respective number slicing


str1 = 'abcdefghi'
str2 = ''
n = 2
p = n
for i in range(len(str1)):
    str2 += str1[p-1]
    p += n
    print(p)
    if p >= len(str1):
        break
print(str2)

4
6
8
10
bdfh

In [15]:
str1 = 'abcdefghi'
new_str = ''
n = 2
i = n
while i <= len(str1):
    new_str += str1[i-1]
    i += n
print(new_str)

bdfh

In [17]:
n = 'he is very good'

n.upper()

'HE IS VERY GOOD'

In [18]:
# Example input
input_text = "she is            happy"

# Initialize an empty result string
output_text = ""

# Iterate through the input string with the index
for i in range(len(input_text)):
    # Capitalize the first character or a character following a space
    if i == 0:  # Check if it's the first character
        output_text += input_text[i].upper()  # Capitalize it
    elif input_text[i - 1] == " ":  # Check if the previous character is a space
        output_text += input_text[i].upper()  # Capitalize it
    else:
        output_text += input_text[i]  # Keep the character as is

# Print the result
print(output_text)

She Is            Happy

In [6]:
# prime or not

n = int(input())
if n > 1:

    for i in range(2,n):
        if n%i == 0:
            print('NO it\'s not a prime')
            break
    else:
        print('YES it is')
else:
    print('Enter the number greater than 1')

Enter the number greater than 1

In [7]:
# maximum scores

# Get the number of lines (excluding the first line with the number)
n = int(input("Enter the number of entries: "))

# Create a dictionary to store the data
data = {}

# Loop over to get the rest of the inputs
for _ in range(n):
    entry = input()  # Each input will be something like 'arjun:1:2:3'
    
    # Split the input at ':' into a name and a list of numbers
    name, *numbers = entry.split(":")
    
    # Store the name as the key and the list of numbers (converted to integers) as the value
    data[name] = list(map(int, numbers))

# Manually find the person with the highest sum
max_sum_name = None
max_sum_value = float('-inf')  # Initialize to negative infinity for comparison

for name, numbers in data.items():
    current_sum = sum(numbers)
    if current_sum > max_sum_value:
        max_sum_value = current_sum
        max_sum_name = name

# Print the result
print(f"{max_sum_name} has the highest sum: {max_sum_value}")

None has the highest sum: -inf

In [9]:
n = '_arjun'.split('_')
print(n)

['', 'arjun']

In [34]:
n = input()



if n.find('_') == -1:
    print(n[::-1])
else:
    new = n.split('_')
    new[0] = new[0][::-1]
    print('_'.join(new))

olleh_arjun

In [21]:
# finding the repeating character

n = input()[::-1]
print(n)
d = {}


for char in n:
    if char in d:
        d[char] += 1
    else:
        d[char] = 1
        
print(d)

m = {}
for char,count in d.items():
    if count > 1:
        m[char] = count
print(list(m.items())[0][0])

jlpoopqzyxedcba
{'j': 1, 'l': 1, 'p': 2, 'o': 2, 'q': 1, 'z': 1, 'y': 1, 'x': 1, 'e': 1, 'd': 1, 'c': 1, 'b': 1, 'a': 1}
p

In [18]:
#########bhayya gurthupetko

n = int(input())
print(n)
if n == 0:
    print(n)
    
elif n > 0:
    print(-n)
elif n < 0:
    print(-n)

-5240
5240

In [20]:
round(11.30*100)

1130

In [15]:
n = input()
num = []
letters = []

for i in range(len(n)):
    if i%2 == 0:
        num.append(int(n[i]))
    else:
        letters.append(n[i])
        
for m,n in zip(num,letters):
    print(m*n,end = '')

0ww

In [16]:
int('100')

100

In [23]:
n = '1a2b3c'

result = ''
num_str = ''

for i in range(len(n)):
    if n[i].isdigit():
        num_str += n[i]
        

    elif  n[i].isalpha():
        number = int(num_str)
        result += number*n[i]
        
        num_str = ''

print(result)

abbccc

In [46]:
def is_prime(lst):
    print(lst)
    for j in lst:
        if j > 1:
            for i in range(2,j):
                if j%i == 0:
                    return False
                else:
                    return True
is_prime(lst = [1,2,3,4,5])

[1, 2, 3, 4, 5]

True

In [39]:
list(filter(is_prime,list(range(1,12))))

TypeError: is_prime() takes 0 positional arguments but 1 was given

In [11]:
n = '100a2b3c'

num_str = ''
result = ''

for i in range(len(n)):
    if n[i].isdigit():
        num_str += n[i]
        
    elif n[i].isalpha():
        number = int(num_str)
        result += number*n[i]
        
        num_str = ''
print(result)

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaabbccc

In [22]:
n = 'arjun'

for i in range(len(n)):
    for j in range(i+1):
        if j >= i:
            print(n[i],end = ' ')
        else:
            print('-',end = ' ')
    print()

a
- r
- - j
- - - u
- - - - n

In [54]:
n = 'arjun'
for i in range(len(n)):
    for j in range(len(n)-i-1):
        print('',end = ' ')
    for k in range(i+1):
        if k >= i:
            print('',end = '')
        else:
          print(n[i],end = '')
    print()

   r
  jj
 uuu
nnnn

In [15]:
n = 3

p = n*n - n
for i in range(n):
    
    for j in range(n-i-1):
        print(p,end = '')
        p -= j
    p = n*n -n
print()

666

In [42]:
n = 5

s = n-1
num = n*n - (s*s+s)//2
for i in range(1,n+1):

    p = n
    for j in range(n-i+1):
        print(num,end = ' ')
        num -= p
        p -= 1
    num = n*n - (s*s+s)//2
    num -= i
    print()

15 10 6 3 1
14 9 5 2
13 8 4
12 7
11

In [11]:
def is_prime(n):
    if n<= 1:
        return False
    for i in range(2,n):
        if n%i == 0:
            return False
    return True

list(filter(is_prime,list(range(1,11))))

[2, 3, 5, 7]

In [19]:
def is_prime(n):
    if n<= 1:
        return False
    for i in range(2,n):
        if n%i == 0:
            return False
    return True

while not is_prime(n):
    n += 1
    print(n)

In [20]:
# for finding the next prime number

n = 13
while True:
    n += 1
    if  is_prime(n):
        print(n)
        break

17

In [5]:
# sum of the corners in amtrix

n = int(input())

l = list()
for i in range(n):
    l.append(list(map(int,input().split())))

print(l)
rows = len(l)
cols = len(l[0])
top_left = l[0][0]
top_right = l[0][cols-1]
bottom_left = l[rows-1][0]
bottom_right = l[rows-1][cols-1]

print(f'sum is {top_left+top_right+bottom_left+bottom_right}')

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
sum is 20

In [7]:
'a' in ['a','b','c']

True

In [2]:
l = [[1,2],[3,4]]

for i in range(len(l)):
    print(l[i][i])

1
4

In [1]:
print(*list(range(1,11)))

1 2 3 4 5 6 7 8 9 10

In [2]:
def alternate_case(s):
    words = s.split()  # Split the input string into words
    result = []
    
    for word in words:
        new_word = []
        for i in range(len(word)):
            if i % 2 == 0:
                new_word.append(word[i].upper())  # Uppercase for odd positions (0-based index)
            else:
                new_word.append(word[i].lower())  # Lowercase for even positions
        result.append("".join(new_word))
    
    return " ".join(result)

# Example usage
s = input("Enter the string: ")  # Input the string
print(alternate_case(s))

ArJuN

In [10]:
is_prime(19)

yes

In [16]:
# prime numbers

def is_prime(n):
    if n == 1:
        return 'no'
    if n == 2:
        return 'yes'
    i = 2
    while i*i <= n :
        if n%i == 0:
            return 'no'
        i += 1
    return 'yes'
is_prime(19)

'yes'

In [28]:
def sieve_algo(n):
    prime = [True for i in range(n)]
    p = 2
    while (p*p <= n):
        
        if prime[p] == True:
            
            for i in range(p*p,n+1,p):
                prime[i] = False
        p += 1
    for i in range(2,n+1):
        if prime[i]:
            print(i,end = ' ')
sieve_algo(100)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [29]:
print(list(range(3+1)))

[0, 1, 2, 3]

In [30]:
print(list(range(3)))

[0, 1, 2]

In [24]:
n = int(input())
prime_num = [True for i in range(n)]
p = 2
while (p*p <= n):
    if prime_num[p]:
        for i in range(p*p,n,p):
            prime_num[i] = False
    p += 1
       
for i in range(2,n):
    if prime_num[i]:
        print(i,end = ' ')

2 3 5 7 11 13 17 19 23 29 31

In [44]:
n = 5

p = 65
for i in range(n):
    for j in range(i+1):
        print(chr(p),end = ' ')
        p += 1
    print()

A
B C
D E F
G H I J
K L M N O

In [25]:
s1 = 'belb'
s2 = 'bell'


if sorted(list(set(s1))) == sorted(list(set(s2))):
    print('YES')
else:
    print('NO')

YES

In [28]:
s1 = list(set(input()))
s2 = list(set(input()))
s1.sort()
s2.sort()

if s1 == s2:
    print('YES')
else:
    print('NO')

NO

In [15]:
a = list(set(s1)).sort()
print(a)

None

In [29]:
a = list(set(s1))
a.sort()
print(a)

['e', 'h', 'l', 'o']

In [34]:
print('a')

for i in range(1,5):
    if i == 3:
        break
else:
    print('b')

a

In [40]:
s1 = '1this ex3am 2is question4'.split()
lst2 = [list(i) for i in s1]
lst2
d = {}
lst1 = []
for i in lst2:
    for j in i:
        if j.isnumeric():
            i.remove(j)
            d[int(j)] = ''.join(i)
for i in sorted(d.items()):
    lst1.append(i[1])
print(' '.join(lst1))

this is exam question

In [42]:
n = 25

prime_num = [True for i in range(n+1)]
p = 2
while (p*p <= n):
    if prime_num[p]:
        for i in range(p*p,n+1,p):
            prime_num[i] = False
    p += 1
for k in range(2,n+1):
    if prime_num[k]:
        print(k,end = ' ')

2 3 5 7 11 13 17 19 23

In [5]:
# palindrome

def check_palindrome(n):
        valid = True
        l = 0
        r = len(n)-1
        for i in range(len(n)//2):
            if n[l] == n[r]:
                l += 1
                r -= 1
            else:
                valid = False
                break
        print('yes it\'s palindrome' if valid else 'no its not a palindrome')
check_palindrome('12321')

yes it's palindrome

In [3]:
def count_words(n):
    ans = 0
    for i in range(len(n)):
            s = n[i]
            temp = 1
            for j in range(len(s)):
                ch = s[j]
                if ch == " ":
                    temp += 1
            ans = max(ans,temp)
    return ans

count_words(['hello macha','bye','antha ledule macha'])

3

In [6]:

from fraction import Fraction

x = Fraction(4,5)
y = Fraction(7,3)

print(x+y)

47/15

In [35]:
from oops import Atm

obj = Atm()

In [37]:
obj.__pin = 'abd'

In [38]:

obj.menu()

Pin succesfully created
Deposit succesfull
the balance amount is 50000

In [ ]:
# bubble sort

arr = [5,4,3,2,1,10,100]

n = len(arr)
for i in range(n-1):
    for j in range(n-i-1):
        if arr[j] > arr[j+1]:
            arr[j],arr[j+1] = arr[j+1],arr[j]
            
print(arr)

[1, 2, 3, 4, 5, 10, 100]