# **Dictionary Operations** #

In [1]:
# initialize a dictionary

d = {}

print(d)
print(type(d))

{}
<class 'dict'>

In [2]:
d = {1,2,3}
print(type(d))

print(d)

<class 'set'>
{1, 2, 3}

In [3]:
d = {'a':1,'b':2,'c':300}

print(d)
print(type(d))

{'a': 1, 'b': 2, 'c': 300}
<class 'dict'>

In [4]:
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [10]:
d2 = dict([])

print(d2)
print(type(d2))

{}
<class 'dict'>

In [12]:
d = {'A':1,'B':2,'C':3}
d2 = {1:[1,4,2],'ABC':20,2:12,'a':(12,20)}

In [13]:
d = {'A':1,'B':2,'C':3}

for k in d:
    print('keys:',k)
    print('values:',d[k])

keys: A
values: 1
keys: B
values: 2
keys: C
values: 3

In [14]:
print(d[0]) # we cannot access it by indexing

KeyError: 0

In [15]:
# to access the elements in a dictionary

In [16]:
d['B']

2

In [21]:
s = {1.0,1.5,'abc',2,2.4,'bca',False,0,1}

print(s)

{False, 1.0, 2, 2.4, 1.5, 'abc', 'bca'}

In [22]:
# duplicates are not alllowed

# 1,1.0,True are treated same

# 0,0.0,False are treated same

In [23]:
d = {1:'A',1.0:'F',True:'B',0:'Z',0.0:'FZ',False : 'BZ'}

# d = {1:'B',0: 'BZ'}

print(d)

{1: 'B', 0: 'BZ'}

In [24]:
d = {'1':'A',1.0:'BZ',True:'B'}
# d = {'1':'A',1:'B}
print(d)

{'1': 'A', 1.0: 'B'}

In [26]:
a = 'Venky'

d = {a:12}
print(d)

a = 'RBR'

print(d)

{'Venky': 12}
{'Venky': 12}

In [27]:
# duplicate values are allowed

d = {'A':12,'B':12,'C':12}

print(d)

{'A': 12, 'B': 12, 'C': 12}

In [28]:
1 == 1.0

True

In [40]:
# dict method

d1 = dict(a = 10,b = 12,c = 50,d = [12,30])

print(d1)
print(type(d1))

{'a': 10, 'b': 12, 'c': 50, 'd': [12, 30]}
<class 'dict'>

In [45]:
# copy a dictionary

d1 = {'A':12,'B':20,'C':30}

d2 = d1 # dictionary is mutable

print(id(d1))
print(id(d2))

3171634537344
3171634537344

In [46]:
print(d1)
d1['A'] = 100
print(d2)
print(d1)

{'A': 12, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}
{'A': 100, 'B': 20, 'C': 30}

In [47]:
print('d1:',d1)
d3 = d1.copy()

d1['A'] = 1000

print('after the assigning:',d1)
print('now see here there is no change:',d3)

d1: {'A': 100, 'B': 20, 'C': 30}
after the assigning: {'A': 1000, 'B': 20, 'C': 30}
now see here there is no change: {'A': 100, 'B': 20, 'C': 30}

In [51]:
d1 = {'A':[10,2,0,30],'B':20,'C':30}

d2 = d1.copy()

print(d1)
print(d2)

d2['A'][1] = 100

print('-'*50)

print('d1:',d1)
print('d2:',d2)

{'A': [10, 2, 0, 30], 'B': 20, 'C': 30}
{'A': [10, 2, 0, 30], 'B': 20, 'C': 30}
--------------------------------------------------
d1: {'A': [10, 100, 0, 30], 'B': 20, 'C': 30}
d2: {'A': [10, 100, 0, 30], 'B': 20, 'C': 30}

In [56]:
import copy

d1 = {'A':[10,20,30],'B':20,'C':30}

d2 = copy.deepcopy(d1)

print('before:',d1)
print('before:',d2)

print('-'*100)

d1['A'][1] = 100

print('after:',d1)
print('after:',d2)

before: {'A': [10, 20, 30], 'B': 20, 'C': 30}
before: {'A': [10, 20, 30], 'B': 20, 'C': 30}
----------------------------------------------------------------------------------------------------
after: {'A': [10, 100, 30], 'B': 20, 'C': 30}
after: {'A': [10, 20, 30], 'B': 20, 'C': 30}

In [69]:
d = {'a':10,'b':20,'c':30} 
                        
d2 = dict(d)

print('before:',d)
print('before:',d2)

d['a'] = 100
print('-'*50)

print('after',d)
print('after',d2)

before: {'a': 10, 'b': 20, 'c': 30}
before: {'a': 10, 'b': 20, 'c': 30}
--------------------------------------------------
after {'a': 100, 'b': 20, 'c': 30}
after {'a': 10, 'b': 20, 'c': 30}

In [68]:
d = {'a':[100,200,300],'b':20,'c':30}

d_2 = dict(d) # similar to d.copy() method

print('d:',d)
print('d_2:',d_2)

print('-'*50)

d['a'][1] = 1000
print(d)
print(d_2)

d: {'a': [100, 200, 300], 'b': 20, 'c': 30}
d_2: {'a': [100, 200, 300], 'b': 20, 'c': 30}
--------------------------------------------------
{'a': [100, 1000, 300], 'b': 20, 'c': 30}
{'a': [100, 1000, 300], 'b': 20, 'c': 30}

In [76]:
d = {'a':1,'b':2}

print('d')
print(d)
print(id(d))

d2 = d
print('d2')
print(d2)
print(id(d2))

d3 = d.copy()
print('d3')
print(d3)
print(id(d3))

d4 = dict(d)
print('d4')
print(d4)
print(id(d4))

d
{'a': 1, 'b': 2}
3171648076224
d2
{'a': 1, 'b': 2}
3171648076224
d3
{'a': 1, 'b': 2}
3171648401600
d4
{'a': 1, 'b': 2}
3171648358912

In [77]:
print(d)
d['b'] = 1000

print(d,d2,d3,d4,sep = '\n')

{'a': 1, 'b': 2}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 1000}
{'a': 1, 'b': 2}
{'a': 1, 'b': 2}

In [79]:
# creating a dictionary using iterables - list, tuples

d = dict([('a',2),('b',4),('c',10)])

print(d)

{'a': 2, 'b': 4, 'c': 10}

In [80]:
d = dict([('a',2),('b',4),('c',10),('d',100,2)])

print(d)

ValueError: dictionary update sequence element #3 has length 3; 2 is required

In [83]:
d = dict([('a',2),('b',4),('c',10),('d',[100,1,2])])

print(d)

{'a': 2, 'b': 4, 'c': 10, 'd': [100, 1, 2]}

In [84]:
d = dict((('a',2),('b',4),('c',10),('d',[100,1,2])))

print(d)

{'a': 2, 'b': 4, 'c': 10, 'd': [100, 1, 2]}

In [85]:
d = dict(('a',2),('b',4),('c',10),('d',[100,1,2]))

print(d)

TypeError: dict expected at most 1 argument, got 4

In [86]:
d = dict([('a',[1,2,3]),('b',4),('c',10)],virat = 120)

print(d)

{'a': [1, 2, 3], 'b': 4, 'c': 10, 'virat': 120}

In [89]:
virat = 'ABC'
d = dict([(virat,120)])
print(d)

d2 = dict([(120,virat)])
print(d2)

{'ABC': 120}
{120: 'ABC'}

In [90]:
# creating dictionary from keys method

In [91]:
students = ['venky','viky','abi','sai']

d = dict.fromkeys(students) # default value is none

print(d)

{'venky': None, 'viky': None, 'abi': None, 'sai': None}

In [93]:
students = ['venky','viky','abi','sai']

d = dict.fromkeys(students,0)

print(d)

{'venky': 0, 'viky': 0, 'abi': 0, 'sai': 0}

In [95]:
# keys and values in a dictionary

In [96]:
d = {'a':[1,2,3],1:{1,2,2,3},'b':(1,'a',3),'c':{1,2,3}}

print(d)

{'a': [1, 2, 3], 1: {1, 2, 3}, 'b': (1, 'a', 3), 'c': {1, 2, 3}}

In [97]:
d = {(1,2,3):'hello'} # tuple as a key

print(d)

{(1, 2, 3): 'hello'}

In [98]:
d = {[1,2,3]:'c'}  # list as a key: not possible
print(d)

TypeError: unhashable type: 'list'

In [99]:
# list,set,dictionaries are mutable(so it cannot pass as a key to dictionary)

In [105]:
d = {(1,2,3,[1,2,3]):'a'}

print(d)

TypeError: unhashable type: 'list'

In [110]:
d = dict(((1,2),(3,4)))

print(d)

{1: 2, 3: 4}

In [111]:
print(len(d))

2

In [113]:
d = {'a':12,'b':13,'c':100,1:'A','1':'ABC',1.0:'2',False:'True'}

print(d)
print(len(d))

{'a': 12, 'b': 13, 'c': 100, 1: '2', '1': 'ABC', False: 'True'}
6

In [114]:
# keys,values,items

In [116]:
d = {'dhoni':55.4,'jadeja':46.9,'raina':60.9}

print(d.keys())
print(d.values())
print(d.items())

dict_keys(['dhoni', 'jadeja', 'raina'])
dict_values([55.4, 46.9, 60.9])
dict_items([('dhoni', 55.4), ('jadeja', 46.9), ('raina', 60.9)])

In [117]:
for k in d.keys():
    print('keys:------>',k)

keys:------> dhoni
keys:------> jadeja
keys:------> raina

In [118]:
for v in d.values():
    print('values:----->',v)

values:-----> 55.4
values:-----> 46.9
values:-----> 60.9

In [119]:
for k in d.items():
    print(k)

('dhoni', 55.4)
('jadeja', 46.9)
('raina', 60.9)

In [120]:
for k,v in d.items():
    print('keys:--->',k,':','values--->',v)

keys:---> dhoni : values---> 55.4
keys:---> jadeja : values---> 46.9
keys:---> raina : values---> 60.9

In [121]:
# Accessing a dictionary

In [123]:
student_details = {'arjun':'nellore','kasi':'ongole'}

student_details

{'arjun': 'nellore', 'kasi': 'ongole'}

In [124]:
student_details['arjun']

'nellore'

In [125]:
student_details['ram']

KeyError: 'ram'

In [126]:
# get method

In [127]:
student_details.get('arjun')

'nellore'

In [128]:
a = student_details.get('arjun')
b = student_details.get('sky')

print(a)
print(b)

nellore
None

In [131]:
student_details.get('sky','key not found') #get(key,default_val)

'key not found'

In [132]:
# modifying a dictionary

In [133]:
d = {'virat':44,'rohit':46.9}

d['virat'] = [10,20,30]

print(d)

{'virat': [10, 20, 30], 'rohit': 46.9}

In [134]:
# in operation

In [135]:
'virat' in d

True

In [136]:
'virat' not in d

False

In [137]:
d = {'virat':'sky','rohit':'pant'}

'sky' in d

False

In [138]:
'sky' in d.values()

True

In [139]:
# update method

In [140]:
my_dict = {'name':'arjun','age':23,'profession':'data_scientist'}

print(my_dict)

{'name': 'arjun', 'age': 23, 'profession': 'data_scientist'}

In [141]:
my_dict.update(name = 'arjun_das')

my_dict

{'name': 'arjun_das', 'age': 23, 'profession': 'data_scientist'}

In [142]:
other_dict = {'salary':50_000,'education':'B.E'}

my_dict.update(other_dict)

In [145]:
print(my_dict)

{'name': 'arjun_das', 'age': 23, 'profession': 'data_scientist', 'salary': 50000, 'education': 'B.E'}

In [144]:
d = {'a':[1,2,3]}
d['a'].pop()
print(d)

{'a': [1, 2]}

In [151]:
my_dict = {'name': 'arjun_das', 'age': 23, 'profession': 'data_scientist', 'salary': 50000, 'education': 'B.E'}

other_dict = ['salary',10_00_000],['education','btech']

my_dict.update(other_dict)

my_dict

{'name': 'arjun_das',
 'age': 23,
 'profession': 'data_scientist',
 'salary': 1000000,
 'education': 'btech'}

In [152]:
type(other_dict)

tuple

In [153]:
del my_dict['education']

In [154]:
my_dict

{'name': 'arjun_das',
 'age': 23,
 'profession': 'data_scientist',
 'salary': 1000000}

In [155]:
del my_dict

In [156]:
my_dict

NameError: name 'my_dict' is not defined

In [157]:
my_dict = {'name': 'arjun_das', 'age': 23, 'profession': 'data_scientist', 'salary': 50000, 'education': 'B.E'}

In [158]:
my_dict

{'name': 'arjun_das',
 'age': 23,
 'profession': 'data_scientist',
 'salary': 50000,
 'education': 'B.E'}

In [159]:
my_dict.clear()

In [160]:
my_dict

{}