In [ ]:
# Tuple,sets,Frozen set

In [1]:
#intialize a tuple

t = ()
print(t)
print(type(t))

()
<class 'tuple'>

In [2]:
t = tuple()
print(t)
print(type(t))

()
<class 'tuple'>

In [3]:
t = tuple([])
print(t)

()

In [6]:
t = tuple('')
print(t)

t = tuple(' ')
print(t)

()
(' ',)

In [15]:
t1 = (1)
t2 =  1
t3 = 1,
t4 = (1,)

print([t1,type(t1)],[t2,type(t2)],[t3,type(t3)],[t4,type(t4)],sep = '\n')

[1, <class 'int'>]
[1, <class 'int'>]
[(1,), <class 'tuple'>]
[(1,), <class 'tuple'>]

In [16]:
t1 = 'a','b','c'
t2 =('a','b','c')
print(t1)
print(t2)
print(type(t1))
print(type(t2))

('a', 'b', 'c')
('a', 'b', 'c')
<class 'tuple'>
<class 'tuple'>

In [17]:
i,j,k = ('a','b','c')
print(i,j,k,sep = '\n')

a
b
c

In [18]:
a,b = (1,2,3,4,5,6,7)

print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [19]:
# use of * Operator

In [21]:
a, *b = (1,2,3,4,5,6,7)

print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3, 4, 5, 6, 7]
<class 'int'>
<class 'list'>

In [22]:
a,*b,c,d = (1,2,3,4,5,6,7)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2, 3, 4, 5]
6
7
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [23]:
a,*b,c,*d = (1,2,3,4,5,6,7)

print(a)
print(b)

SyntaxError: multiple starred expressions in assignment (1280679519.py, line 1)

In [24]:
a,*b = (1,2)
c,d = (1,2)

print(a)
print(b)
print(c)
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

1
[2]
1
2
<class 'int'>
<class 'list'>
<class 'int'>
<class 'int'>

In [25]:
a,*b = (1,2,3,4,13)

print(a)
print(b)
print(type(a))
print(type(b))

1
[2, 3, 4, 13]
<class 'int'>
<class 'list'>

In [26]:
# Accessing tuples

In [28]:
t = tuple('python')

print(t,type(t),sep = '\n')

('p', 'y', 't', 'h', 'o', 'n')
<class 'tuple'>

In [32]:
print(t[0])
print(t[3])

p
h

In [33]:
# slice a tuple

In [35]:
print(t[::-1])
print(t[1:3])

('n', 'o', 'h', 't', 'y', 'p')
('y', 't')

In [40]:
l = list('python')
t = tuple('pyhton')

l[0] = 's'

print(l)
t[0] = 'k'


print(t)

['s', 'y', 't', 'h', 'o', 'n']

TypeError: 'tuple' object does not support item assignment

In [42]:
l = [1,2,3,4,5]
t = (1,2,3,l)

print(t)
print(id(t))

(1, 2, 3, [1, 2, 3, 4, 5])
2620076962768

In [44]:

print(id(l))
l[0] = 10
print(t)
print(id(l))
print(id(t))

2620077142784
(1, 2, 3, [10, 2, 3, 4, 5])
2620077142784
2620076962768

In [45]:
print(t)

(1, 2, 3, [10, 2, 3, 4, 5])

In [46]:
#Q1

t[3][0] = 100

print(t)

(1, 2, 3, [100, 2, 3, 4, 5])

In [48]:
#Q2

t[3] = [100,2,5]

print(t)

TypeError: 'tuple' object does not support item assignment

In [49]:
l = [1,2,3,4,5]
m = l

print(m)
print(l)
print(id(m))
print(id(l))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
2620077003904
2620077003904

In [50]:
l[0] = 1000

print(m)
print(l)

[1000, 2, 3, 4, 5]
[1000, 2, 3, 4, 5]

In [51]:
k = [1,2,3]
o = [1,2,3]

print(id(k))
print(id(o))

2620077162304
2620068240832

In [54]:
l = [1,2,3,4,5]

m = l.copy()

print(m)
print(l)
print(id(m))
print(id(l))

l[0] = 1000
print(l)
print(m)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
2620076139392
2620076188544
[1000, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [56]:
sub_list = ['a','b','c']

l = [1,2,3,sub_list]
m = l.copy()

print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1]  = 'Arjun'

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2620076756800
2620076944576
[1, 2, 3, ['a', 'Arjun', 'c']]
[1, 2, 3, ['a', 'Arjun', 'c']]
2620076756800
2620076944576

In [57]:
import copy

sub_list = ['a','b','c']

l = [1,2,3,sub_list]
m = copy.deepcopy(l)


print(l)
print(m)
print(id(l))
print(id(m))

sub_list[1]  = 'Arjun'

print(l)
print(m)
print(id(l))
print(id(m))

[1, 2, 3, ['a', 'b', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2620077002624
2620076940608
[1, 2, 3, ['a', 'Arjun', 'c']]
[1, 2, 3, ['a', 'b', 'c']]
2620077002624
2620076940608

In [58]:
# updating a tuple

In [59]:
t = ('python','c','c++')

t[1] = 'java'

TypeError: 'tuple' object does not support item assignment

In [60]:
temp = list(t)
print(temp)

['python', 'c', 'c++']

In [62]:
temp[1] = 'java'

t = tuple(temp)
print(t)

('python', 'java', 'c++')

In [63]:
l = (1,2,3,4,5)

del l[1:5]

print(l)

TypeError: 'tuple' object does not support item deletion

In [64]:
del l

In [65]:
print(l)

NameError: name 'l' is not defined

In [66]:
# sort
# sorted

In [67]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort()  # inplace sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
2620077994048
[1, 5, 8, 9, 10, 11, 12]
2620077994048

In [68]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
print(sorted(l))  # out of place sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
2620077770112
[1, 5, 8, 9, 10, 11, 12]
[1, 10, 5, 8, 9, 12, 11]
2620077770112

In [69]:
l = [1,2,3,5,7,9,4]
sorted(l, reverse = True)

[9, 7, 5, 4, 3, 2, 1]

In [71]:
m = l.sort()
print(m)
print(type(m))

None
<class 'NoneType'>

In [72]:
l = [1,10,5,8,9,12,11]
print(l)
print(id(l))
l.sort(reverse = True)  # inplace sorting
print(l)
print(id(l))

[1, 10, 5, 8, 9, 12, 11]
2620077148480
[12, 11, 10, 9, 8, 5, 1]
2620077148480

In [73]:
l = ['a','b','c','d','z','f']

l.sort()
print(l)

['a', 'b', 'c', 'd', 'f', 'z']

In [74]:
ord('f')

102

In [75]:
ord('z')

122

In [76]:
l = ['abc','aac','aca','cab','bca']
l.sort()
print(l)

['aac', 'abc', 'aca', 'bca', 'cab']

In [77]:
l = ['abc','aac','aca','cab','bca','9','10']
l.sort()
print(l)

['10', '9', 'aac', 'abc', 'aca', 'bca', 'cab']

In [79]:
l = [' ','1','a']

l.sort(reverse = True)
l

['a', '1', ' ']

In [80]:
ord(' ')

32

In [81]:
# sort

# sorted

In [82]:
t = (1,2,3,5,7,9,4,12,10)

t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [84]:
t = (1,2,3,5,7,9,4,12,10) #always returns the list object

sorted(t)

[1, 2, 3, 4, 5, 7, 9, 10, 12]

In [86]:
sorted('Venky')

['V', 'e', 'k', 'n', 'y']

In [87]:
# reverse

l = list('Venkatesh')
print(l)

['V', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [88]:
l.reverse() # equivalent to l[::-1]
print(l)  #reverse in place

['h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V']

In [90]:
reversed(l)

In [91]:
list(reversed(l))  # out of place - creates new list

['V', 'e', 'n', 'k', 'a', 't', 'e', 's', 'h']

In [92]:
t = tuple('Venkatesh')

t.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

In [93]:
tuple(reversed(t))

('h', 's', 'e', 't', 'a', 'k', 'n', 'e', 'V')

In [94]:
# count

l = [1,2,3,1,2,4,3,2,1,3,2,1,5,2,1,4,5]

l.count(1)

5

In [95]:
l.count(6)

0

In [96]:
k = 'lkaslads'

k.count('l')

2

### ***Sets*** ###

In [97]:
# initializing a set

s = {}
print(s)

print(type(s))  # so its not the corect way

{}
<class 'dict'>

In [98]:
s = set()

print(s)

print(type(s))

set()
<class 'set'>

In [99]:
s = {1}
print(s)
print(type(s))

{1}
<class 'set'>

In [100]:
s = {1,2,3,4,5}
print(s)
print(id(s))
s.add(8)
print(s)
print(id(s))

{1, 2, 3, 4, 5}
2620063611168
{1, 2, 3, 4, 5, 8}
2620063611168

In [101]:
s = {1,2,3,4,5,[1,2]}

print(s)

TypeError: unhashable type: 'list'

In [102]:
s = {1,2,3,4,5,{1,2}}

print(s)

TypeError: unhashable type: 'set'

In [104]:
s = {1,2,3,4,5,{'maths':75,'physics':60}}

print(s)

TypeError: unhashable type: 'dict'

In [105]:
s = {1,2,3,4,5,(1,2)}

print(s)

{1, 2, 3, 4, 5, (1, 2)}

In [107]:
t = (1,2,3,[4,5])

s = {1,2,t}

print(s)

TypeError: unhashable type: 'list'

In [108]:
s = {1,True}
s

{1}

In [109]:
s = {True,1}
s

{True}

In [111]:
# accessing a set

s = {'arjun','banglore','chennai'}

print(s)

print(s[0])

{'arjun', 'chennai', 'banglore'}

TypeError: 'set' object is not subscriptable

In [112]:
# because of unordered,unindexed

In [115]:
'arjun' in s

True

In [116]:
# adding a element to set and updating a set

In [117]:
s = {1,2,5.4,'abc',2.2}

print(s)

{1, 2, 2.2, 'abc', 5.4}

In [118]:
s = {10,20,30}
s.add(40)
s

{10, 20, 30, 40}

In [120]:
s.add(70,50,60)
s

TypeError: set.add() takes exactly one argument (3 given)

In [121]:
s.add((70,50,60))
s

{(70, 50, 60), 10, 20, 30, 40}

In [124]:
s.add((10,20))
s

{(10, 20), (70, 50, 60), 10, 20, 30, 40}

In [125]:
#update

s = {10,20,30}

t = {40,50,60}
s.update(t)

print(s)

{50, 20, 40, 10, 60, 30}

In [126]:
s.union(t)

{10, 20, 30, 40, 50, 60}

In [127]:
s = {1,2,3}
t = {4,5,6}

s.union(t)

{1, 2, 3, 4, 5, 6}

In [128]:
print(s)

print(t)

{1, 2, 3}
{4, 5, 6}

In [137]:
s = {1,2,3}
t = {4,5,6}

s.update(t)

s

{1, 2, 3, 4, 5, 6}

In [138]:
t2 = [10,20,30]

s.update(t2)

s.union(t2)

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [139]:
t2.union(s)

AttributeError: 'list' object has no attribute 'union'

In [140]:
a = {1,2,3}
b = [5,7,8,3]

a.union(b)

{1, 2, 3, 5, 7, 8}

In [141]:
s

{1, 2, 3, 4, 5, 6, 10, 20, 30}

In [142]:
s = {1,2,3}

s.update('RBR')
print(s)

{'B', 1, 2, 3, 'R'}

In [143]:
s = {1,2,3}

s.update(['RBR'])
print(s)

{1, 2, 3, 'RBR'}

In [144]:
# remove method

In [146]:
s = {'arjun','virat','dube'}

s.remove('dube')

print(s)

{'virat', 'arjun'}

In [147]:
s.remove('dhoni')

KeyError: 'dhoni'

In [148]:
# discard

s = {'virat','rohit','dube','hardik'}

s.discard('dube')

print(s)

{'virat', 'hardik', 'rohit'}

In [149]:
s.discard('dhoni')

print(s)

{'virat', 'hardik', 'rohit'}

In [150]:
l = {1,2,3,45,'abc'}

print(l.pop())

print(l)

1
{2, 3, 'abc', 45}

In [151]:
print(l.pop())

print(l)

2
{3, 'abc', 45}

In [152]:
print(l.pop(0))
print(l)

TypeError: set.pop() takes no arguments (1 given)

In [153]:
# Operations on Set

In [154]:
s = {1,2,3}
t = {4,5,6}

s.union(t)

{1, 2, 3, 4, 5, 6}

In [155]:
# union ------------>

a = {10,20,30}
b = {40,50,60}

a | b

{10, 20, 30, 40, 50, 60}

In [156]:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
d = {10,11,12}
e = {14,15,16}
f = {17,18,19}

g = 'venky'

a.union(b,c,d,e,f,g)

{1,
 10,
 11,
 12,
 14,
 15,
 16,
 17,
 18,
 19,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 'e',
 'k',
 'n',
 'v',
 'y'}

In [160]:
a = {1,2,3}
b = {4,5,6}
c = {7,8,9}
d = {10,11,12}
e = (14,15,160)
f = [17,18,19]

g = 'venky'

a | b | c | d

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [161]:

a | b | c | d | e | f | g

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [162]:
# intersection

a = {1,2,3,4}
b = {2,3,5,7}

a.intersection(b)

{2, 3}

In [163]:
print(a)

{1, 2, 3, 4}

In [164]:
a = {1,2,3,4}
b = {2,3,5,7}
                           # common things from 3
c = {10,20,30,40,3}

a.intersection(b,c)

{3}

In [165]:
# &

In [166]:
a & b & c

{3}

In [168]:
a = {1,2,3}
b = [2,3,6]

a.intersection(b)

{2, 3}

In [169]:
a & b

TypeError: unsupported operand type(s) for &: 'set' and 'list'

In [170]:
# update ,union

# intersection_update, intersection

In [171]:
a = {1,2,3,4}
b = {2,3,5,7}

a.intersection(b)

{2, 3}

In [172]:
print(a)

{1, 2, 3, 4}

In [173]:
a.intersection_update(b)

In [174]:
a

{2, 3}

In [175]:
# &= -----> intersection_update
# & -------> intersection
# | -------> union
# |= ------> union_update

In [176]:
a = {1,2,3,4}
b = {2,3,5,7}

a &= b

In [177]:
a

{2, 3}

In [178]:
a = {1,2,3,4}
b = {2,3,5,7}

a |= b

a

{1, 2, 3, 4, 5, 7}

In [180]:
# difference

In [181]:
a = {1,2,3,4}
b = {2,3,5,7}

a.difference(b)

{1, 4}

In [182]:
a

{1, 2, 3, 4}

In [183]:
a-b

{1, 4}

In [184]:
a

{1, 2, 3, 4}

In [185]:
a.difference_update(b)

In [186]:
a

{1, 4}

In [187]:
# -= difference_update

In [188]:
a = {1,2,3,4}
b = {2,3,5,7}

a -= b
print(a)

{1, 4}

In [190]:
# symmetric_difference

a = {1,2,3,4,5,6}
b = {2,3,4,9,10}

a.symmetric_difference(b) # non intersect elements

{1, 5, 6, 9, 10}

In [192]:
a^b   # symbol for symmetric differnce

{1, 5, 6, 9, 10}

In [195]:
# ^= ----> symmetric difference update

In [193]:
print(a)
print(b)

{1, 2, 3, 4, 5, 6}
{2, 3, 4, 9, 10}

In [194]:
a = {1,2,3,4,5,6}

a.clear()

a

set()

In [196]:
a = {1,2,3,4,5,6}

del a

a

NameError: name 'a' is not defined

In [197]:
a = {1,2,3,5}

b = a.copy()

In [198]:
# isdisjoint

In [199]:
a = {1,2,3,4}
b = {5,6}

a.isdisjoint(b)

True

In [200]:
#issuperset

In [201]:
a = {1,2,3,4}
b = {3,4}

a.issuperset(b)

True

In [202]:
b.issubset(a)

True

In [203]:
# frozen sets

In [204]:
f = frozenset([])
print(f)
print(type(f))

frozenset()
<class 'frozenset'>

In [205]:
f = frozenset([10,20,30,1,True,0,False])

print(f)
print(type(f))

frozenset({0, 1, 10, 20, 30})
<class 'frozenset'>