# ***Loops*** #
- for
- while

In [3]:
for i in range(65,91):
    print(chr(i),end = ' ')
    if i == 90:
        print('\n')
for j in range(97,123):
    print(chr(j),end = ' ')

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [22]:
~ 125

-126

In [1]:
for i in range(-5):print(i)

In [27]:
for i in range(0,11,2):print(i)

0
2
4
6
8
10

In [31]:
scores = [23,32,42,21,'kohli']

for s in scores:
    print(s)

23
32
42
21
kohli

In [32]:
for s in range(len(scores)):
    print(scores[s])

23
32
42
21
kohli

In [35]:
for s in range(len(scores)-1,-1,-1):
    print(scores[s])

kohli
21
42
32
23

In [38]:
for s in range(-len(scores),0):
    print(scores[s])

23
32
42
21
kohli

In [30]:
for i,s in enumerate([23,'hello','world','pyhton']):
    print(i,s)

0 23
1 hello
2 world
3 pyhton

In [40]:
for s in enumerate([23,'hello','world','pyhton']):
    print(s)

(0, 23)
(1, 'hello')
(2, 'world')
(3, 'pyhton')

In [41]:
players = [['virat','rohit'],['babar','rizwan'],['maxi','warner']]

for player_list in players:
    print(player_list)

['virat', 'rohit']
['babar', 'rizwan']
['maxi', 'warner']

In [46]:

#un packing

for player_list in players:
    for player in player_list:
        print(player)

virat
rohit
babar
rizwan
maxi
warner

In [49]:
l1 = ['hi',1,'this']
l2 = ['is','arjun','vanakkam']
l3 = ['makkale','nandrigel','babai']

for a,b,c in zip(l1,l2,l3):
    print(a,b,c)

hi is makkale
1 arjun nandrigel
this vanakkam babai

### ***While Loop*** ###

In [2]:
a = [12,23,43,52]

p = len(a)
i = 0

while i < p:
    print(a[i])
    i += 1

12
23
43
52

### ***Break*** ###

In [5]:
team_score = [12,23,54,26,76,31]

n = len(team_score)

total_score  = 0
i = 0
while i < n:
    print('iteration:',i)
    total_score += team_score[i]
    
    print('total_score:',total_score)
    if total_score >= 100:
        break
    i += 1
print('came out of the loop')

iteration: 0
total_score: 12
iteration: 1
total_score: 35
iteration: 2
total_score: 89
iteration: 3
total_score: 115
came out of the loop

In [7]:
team_scores = [[12,23,54,26,76,31],[12,34,54,23,53,23,53],[1,2,4,52,5]]

for curr_team_score in team_scores:
    total_score = 0
    print('current_team:',curr_team_score)
    for score in curr_team_score:
        print('score:',score)
        total_score += score
        print('total_score:',total_score)
        
        if total_score >= 100:
            break 
    if len(curr_team_score) > 5:
        break
        

print('came out of the loop')

current_team: [12, 23, 54, 26, 76, 31]
score: 12
total_score: 12
score: 23
total_score: 35
score: 54
total_score: 89
score: 26
total_score: 115
came out of the loop

### ***Continue*** ###

In [17]:
lst_1 = [1,-22,-32,100]

sum_non_neg_values = 0

for value in lst_1:
    print('value:',value)
    if value < 0:
        continue
    print('after continue:',value)
    sum_non_neg_values += value
print('sum:',sum_non_neg_values)

value: 1
after continue: 1
value: -22
value: -32
value: 100
after continue: 100
sum: 101

### ***Pass*** ###

In [19]:
lst_2 = [10,20,30,40]

for i in lst_2:
    if i == 20:
        pass
    print(i)

10
20
30
40

In [20]:
lst_2 = [10,20,30,40]

for i in lst_2:
    if i == 20:
        continue
    print(i)

10
30
40

In [25]:
lst_2 = [10,20,30,40]

for i in lst_2:
    if i > 20:
        continue
    print(i)

10
20

In [1]:
# for else blocks

In [4]:
sum = 0

for i in range(1,11):
    sum += i
    print('curr_sum:',sum)
else:
    print('inside for else')
print('out side for else block')

curr_sum: 1
curr_sum: 3
curr_sum: 6
curr_sum: 10
curr_sum: 15
curr_sum: 21
curr_sum: 28
curr_sum: 36
curr_sum: 45
curr_sum: 55
inside for else
out side for else block

In [5]:
sum = 0

for value in range(10,26):
    print('curr_val:',value)
    if value == 15:
        break
else:
    print('inside for else')
print('out side for else block')

curr_val: 10
curr_val: 11
curr_val: 12
curr_val: 13
curr_val: 14
curr_val: 15
out side for else block

In [8]:
count =0

for i in range(3):
    for j in range(3):
        if i+j < 3:
            count += 1
            
print(count)

6

In [29]:
[i for i in range(1,11) if i%2 == 0 ]

[2, 4, 6, 8, 10]