In [6]:
import keyword
keywords = keyword.kwlist
print(keywords)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [7]:
print(f'total no .of .keywords:{len(keywords)}')

total no .of .keywords:35

In [9]:
import pandas as pd
df = pd.DataFrame(keywords,columns = ['keywords'])
df

    keywords
0      False
1       None
2       True
3        and
4         as
5     assert
6      async
7      await
8      break
9      class
10  continue
11       def
12       del
13      elif
14      else
15    except
16   finally
17       for
18      from
19    global
20        if
21    import
22        in
23        is
24    lambda
25  nonlocal
26       not
27        or
28      pass
29     raise
30    return
31       try
32     while
33      with
34     yield

# Data Types

## Strings

In [1]:
# a string is a series of characters

new_string = 'arjun'
new_string_1 = ' arjun'

print(id(new_string))
print(id(new_string_1))

print(type(new_string))

2538923589360
2538923624752
<class 'str'>

In [12]:
# it is used for the single line comments

In [4]:
''' 
it is used for 
the 

multi line comments
'''
print('hi')

print('''hey mera bharath
mahan
learn python in effective way''')

hi
hey mera bharath
mahan
learn python in effective way

# for only small integers and small strings 
- same memory allocation will be done

In [19]:
a = 200
b = 200


if a is b:
    print('true')
else:
    print('false')
    
print(id(a))
print(id(b))

true
140704877358088
140704877358088

In [20]:
c = 300
d = 300

if c is d :
    print('true')
else:
    print('false')

print(id(c))
print(id(d))

false
2759739527024
2759739527984

In [8]:
message = 'yesterday i have watched "devara 2" trailer\nthen i had my break fast\nThen I started Learning Python'
print(message)

yesterday i have watched "devara 2" trailer
then i had my break fast
Then I started Learning Python

In [28]:

name_1 = 'arjun '
name_2 = ' arjun'
name_3 = ' arjun '

In [29]:
''' strips are used to remove the spaces for strings'''
print(name_1,name_1.rstrip(),name_2,name_2.lstrip(),name_3,name_3.strip(),sep = '\n')

arjun
arjun
 arjun
arjun
 arjun
arjun

# Numeric

In [4]:
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
def div(a,b):
    return round((a/b),2)
def prod(a,b):
    pass

In [5]:
print(add(2,3))
print(prod(2,3))
print(div(2,3))
print(sub(2,3))

5
None
0.67
-1

In [45]:
a = 12
b = 5
c = a/b
print(c,type(c),sep = '\n')
d = a//b
print(d)
print(type(d))

2.4
<class 'float'>
2
<class 'int'>

In [47]:
f_value = 12.2
print(f_value)
a = 12.2
b = 12
c = a+b
d = a-b
e = a*b
f = a/b
print(a,b,c,d,e,f)

12.2
12.2 12 24.2 0.1999999999999993 146.39999999999998 1.0166666666666666

# Lists
- list is a sequence data type.
- it is represented by []
- it is mutable
- it consists of all data types

In [12]:
a = [1,2,3.5,'hello',2,5,[1,2],(3,4),1000,1000]

# even duplicates also shows same id

print(id(a[1]))
print(id(a[4]))

print('-'*40)

print(f'id of a : {id(a)}')

print(f'id of a[-1],a[-2]:{id(a[-1]),id(a[-2])}')

print('-'*25)

a[-1] = 2000

print(a)

print(f'id of a,after changing : {id(a)}')

print(f'type of a :{type(a)}')

140704568677192
140704568677192
----------------------------------------
id of a : 2099350249728
id of a[-1],a[-2]:(2099352124624, 2099352124624)
-------------------------
[1, 2, 3.5, 'hello', 2, 5, [1, 2], (3, 4), 1000, 2000]
id of a,after changing : 2099350249728
type of a :<class 'list'>

# Tuple
- tuple is also a sequence data type
- it is immutable: modification is not possible in the same object

In [13]:
b = (1)
c = (1,)

print(f'{type(b),type(c)}')

(<class 'int'>, <class 'tuple'>)

In [16]:
c[0] = 2

TypeError: 'tuple' object does not support item assignment