### ***List Operations and Methods*** ###

In [1]:
lst_1 = list()

print(lst_1)

[]

In [2]:
l = []

print(l)

[]

In [5]:
l = list(" ")
print(l)

print(l[0])

[' ']

In [6]:
name = 'virat Kohli'

print(list(name))

['v', 'i', 'r', 'a', 't', ' ', 'K', 'o', 'h', 'l', 'i']

In [7]:
# accessing a list

In [9]:
l = [1,2,3,'a','b','c','rcb','gate','da']

print(l[2])

print(l[-5])

3
b

In [10]:
l = [[1,2,3,[4,5]],[23,[12,34],9],30,21]

print(len(l))

4

In [18]:
print(l[1][1][-1])

print(l[0][3][-2])

print(l[0][3])

print(l[0][-1])

print(l[-4][3])

print(l[-4][-1])

34
4
[4, 5]
[4, 5]
[4, 5]
[4, 5]

In [20]:
# -------------slicing a list--------------------------------

In [21]:
l = ['sachin','sehwag','gauti','yuvi','raina','dhoni','yousuf','zaheer','bumrah']

print(len(l))

9

In [22]:
l[-4:2]

[]

In [26]:
l[6:1:-3]

['yousuf', 'yuvi']

In [27]:
l[6:2:-1]

['yousuf', 'dhoni', 'raina', 'yuvi']

In [28]:
l[::-1]

['bumrah',
 'zaheer',
 'yousuf',
 'dhoni',
 'raina',
 'yuvi',
 'gauti',
 'sehwag',
 'sachin']

In [29]:
l[::]

['sachin',
 'sehwag',
 'gauti',
 'yuvi',
 'raina',
 'dhoni',
 'yousuf',
 'zaheer',
 'bumrah']

In [25]:
alpha = ['a','b','c','d','e','f','g','h','i','j']

print(len(alpha))

print(alpha[-4:8])

print(alpha[-4:-8])

10
['g', 'h']
[]

In [ ]:
# adding elements to the list

In [38]:
csk = ['hayden','vijay','raina']

print(csk)

['hayden', 'vijay', 'raina']

In [39]:
# add dhoni

print(csk)

csk.append('dhoni')

print(csk)

['hayden', 'vijay', 'raina']
['hayden', 'vijay', 'raina', 'dhoni']

In [43]:
l = [1,2,3,4]
print(l)
print(id(l))
l.append(5)
print(l)
print(id(l))
l.append(('hello','arjun'))
print(l)
print(id(l))
a = l.append(4)
print(a)
print(id(a))
print(type(a))

[1, 2, 3, 4]
2304405927552
[1, 2, 3, 4, 5]
2304405927552
[1, 2, 3, 4, 5, ('hello', 'arjun')]
2304405927552
None
140704567290608
<class 'NoneType'>

In [44]:
l.append('arjun','rinku')

#append accepts a single argument

TypeError: list.append() takes exactly one argument (2 given)

In [45]:
# insert

In [46]:
indian_batting = ['Rohit','Virat','PANT','SKY']

print(indian_batting)

indian_batting.insert(1,'rinku')

print(indian_batting)

['Rohit', 'Virat', 'PANT', 'SKY']
['Rohit', 'rinku', 'Virat', 'PANT', 'SKY']

In [47]:
indian_batting = ['Rohit','Virat','PANT','SKY']

print(indian_batting)

indian_batting[1] = 'RINKU'

print(indian_batting)

['Rohit', 'Virat', 'PANT', 'SKY']
['Rohit', 'RINKU', 'PANT', 'SKY']

In [54]:
# check for mutability

l = [1,2,3,4,5]

print(l)

print(id(l))

l.insert(5,10)

print(l)

print(id(l))

l.insert(2,0)

print(l)

print(id(l))

[1, 2, 3, 4, 5]
2304405477184
[1, 2, 3, 4, 5, 10]
2304405477184
[1, 2, 0, 3, 4, 5, 10]
2304405477184

In [55]:
print(l)

l.insert(-2,'arjun')

print(l)

[1, 2, 0, 3, 4, 5, 10]
[1, 2, 0, 3, 4, 'arjun', 5, 10]

In [56]:
l.insert(3,[1,2,3])

print(l)

[1, 2, 0, [1, 2, 3], 3, 4, 'arjun', 5, 10]

In [57]:
# Extend

In [70]:
subjects = ['Linear Algebra','Claculus','Python','DSA','ML']

print(subjects)

a = id(subjects)

subjects.extend(('probability','statistics','dbms'))

print(subjects)

b = id(subjects)

if a == b:
    print('true')

['Linear Algebra', 'Claculus', 'Python', 'DSA', 'ML']
['Linear Algebra', 'Claculus', 'Python', 'DSA', 'ML', 'probability', 'statistics', 'dbms']
true

In [76]:
a = 256
print(id(a))

b = 256
print(id(b))

print(f'check identity:{a is b}')

c = 257

print(id(c))

d = 257

print(id(d))

print(f'check identity:{c is d}')

140704568685320
140704568685320
check identity:True
2304406445488
2304406445200
check identity:False

In [78]:
alpha = ['a','b','c']

#append
alpha.append('def')
print(alpha)

# extend
alpha.extend('ghi jkl mno')
print(alpha)

['a', 'b', 'c', 'def']
['a', 'b', 'c', 'def', 'g', 'h', 'i', ' ', 'j', 'k', 'l', ' ', 'm', 'n', 'o']

In [81]:
s = {1,'a',2,'c'}

for element in s:
    print(element)

1
2
c
a

In [82]:
# userinputs for a list

In [86]:
input_user = input('Enter the input:').split()

print(input_user)

print(len(input_user))

print(type(input_user))

['10', '20', '30']
3
<class 'list'>

In [87]:
n = int(input('Enter the size of the list:'))

new_list = []

for i in range(n):
    new_list.append(int(input('Enter the value:')))
    
print(new_list)

[2, 4, 6, 8, 10]

In [89]:
players = ['Rohit','Jaiswal','Virat','Pant','Sky','Dube',"Hardik",'Jaddu']

print(players)

players[2] = 'Rinku'

print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Rinku', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']

In [91]:
print(players)

players[5:] = 'RInku'

print(players)

['Rohit', 'Jaiswal', 'Rinku', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Rinku', 'Pant', 'Sky', 'R', 'I', 'n', 'k', 'u']

In [92]:
players = ['Rohit','Jaiswal','Virat','Pant','Sky','Dube',"Hardik",'Jaddu']

print(players)

players[5:] = ['Rinku']

print(players)

['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Dube', 'Hardik', 'Jaddu']
['Rohit', 'Jaiswal', 'Virat', 'Pant', 'Sky', 'Rinku']

In [93]:
# remove,del,clear,pop

In [94]:
l = [1,2,3,4,5]

print(l)
l.remove(3)
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [95]:
l = [1,2,3,4,5]

print(l)
l.remove(6)
print(l)

[1, 2, 3, 4, 5]

ValueError: list.remove(x): x not in list

In [96]:
l = [1,2,3,4,5,4,3,2,1,1]

print(l)
l.remove(2)
print(l)

[1, 2, 3, 4, 5, 4, 3, 2, 1, 1]
[1, 3, 4, 5, 4, 3, 2, 1, 1]

In [97]:
#del

In [98]:
l = [1,2,3,4,5]
print(l)
del l[1]
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [99]:
l = [10,20,30,40,50]
print(l)
del l[1:3]
print(l)

[10, 20, 30, 40, 50]
[10, 40, 50]

In [100]:
l = [10,20,30,40,50]
print(l)
del l[::-1]
print(l)

[10, 20, 30, 40, 50]
[]

In [101]:
l = [10,20,30,40,50]
print(l)
del l[::-1]
del l
print(l)

[10, 20, 30, 40, 50]

NameError: name 'l' is not defined

In [102]:
# clear

In [103]:
l = [1,2,3,4,5]
print(l)
l.clear()
print(l)

[1, 2, 3, 4, 5]
[]

In [104]:
# pop

In [105]:
l = [1,2,3,4,5]
print(l)
a = l.pop()
print(l)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4]
5

In [109]:
l = [10,20,30,4,5]
print(l)
a = l.pop(2)
print(l)
print(a)

[10, 20, 30, 4, 5]
[10, 20, 4, 5]
30

In [110]:
l = [10,20,30,4,5]
print(l)
a = l.pop(10)
print(l)
print(a)

[10, 20, 30, 4, 5]

IndexError: pop index out of range

In [108]:
lst = list(map(int,input().split()))
print(lst)
new_lst = []
for i in range(len(lst)):
    new_lst.append(lst.pop())
 
print(new_lst)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [ ]:
# list comprehensions

In [4]:
# normal method

p = list()
m = list()
for i in range(1,11):
    if i%2 == 0:
        p.append(i)
    else:
        m.append(i)
print(f'even numbers:{p}')
print(f'odd numbers:{m}')

even numbers:[2, 4, 6, 8, 10]
odd numbers:[1, 3, 5, 7, 9]

In [7]:
[i for i in range(1,11) if i%2 != 0]

[1, 3, 5, 7, 9]

In [9]:
lst_1 = [1,2,3,4]
lst_2 = [0,2,3,1]
new_list = list()

for i in lst_1:
    for j in lst_2:
        if i+j > 4:
            new_list.append((i,j))
print(new_list)
print(len(new_list))

[(2, 3), (3, 2), (3, 3), (4, 2), (4, 3), (4, 1)]
6

In [10]:
[(i,j) for i in [1,2,3,4] for j in [0,2,3,1] if i+j > 4]

[(2, 3), (3, 2), (3, 3), (4, 2), (4, 3), (4, 1)]

In [11]:
# squre numbers

[i**2 for i in range(1,5)]

[1, 4, 9, 16]

In [12]:
[len(i) for i in ['apple','banana','cherry'] ]

[5, 6, 6]

In [13]:
[i.capitalize() for i in ['hello','world']]

['Hello', 'World']

In [15]:
[ j for i in [[1,2],[3,4],[5,6]] for j in i]

[1, 2, 3, 4, 5, 6]