# **Range,Sets and Dictionaries**

### ***1.Range*** ###
- it is only for integers

In [43]:
# range function is only for
''' integers'''

range_val = range(5)

print(range_val)

print(type(range_val))

range(0, 5)
<class 'range'>

In [37]:
list(range_val)

[0, 1, 2, 3, 4]

In [38]:
range_val2 = range(10,20)
print(list(range_val2))

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [39]:
range_val3 = range(10,20,2)
print(list(range_val3))

[10, 12, 14, 16, 18]

In [40]:
range_val4 = range(-5)
print(list(range_val4))

[]

In [41]:
range_val5 = range(-1,-6,-1)
print(list(range_val5))

[-1, -2, -3, -4, -5]

In [42]:
range_val6 = range(-5,0,1)
print(list(range_val6))

[-5, -4, -3, -2, -1]

### ***2.Sets*** ###

- it is a collection of **unordered** and **unindexed**
- it does not accept **duplicates**
- it is **mutable**

In [45]:
set_1 = {1,2,3,4,5}
print(set_1)
print(type(set_1))

{1, 2, 3, 4, 5}
<class 'set'>

In [50]:
set_2 = set([1,7,2,9])

print(set_2)

print(type(set_2))

{1, 2, 9, 7}
<class 'set'>

In [54]:
set_3 = set([1,2,402,3.5,100,'hari','zoho','straive'])

print(set_3)

{1, 2, 3.5, 100, 'hari', 'zoho', 'straive', 402}

In [56]:
# cannot use indexing
print(set_3[0])

TypeError: 'set' object is not subscriptable

In [58]:
# duplicates

set_4 = {True,1,2.0,2,3,4,5,False,0}
print(set_4)

{False, True, 2.0, 3, 4, 5}

In [59]:
a = False
print(a)
print(type(a))

False
<class 'bool'>

In [60]:
False == 0

True

In [61]:
True == 1

True

In [65]:
# example for the mutability of the set

print(id(set_4))

print('-'*10)

set_4.add('sachin')

print(f'after adding:{id(set_4)}')

2303876386368
----------
after adding:2303876386368

In [74]:
set_a = {1,2,'hello',[1,2]}
print(set_a)

TypeError: unhashable type: 'list'

In [75]:
set_a = {1,2,'hello',(3,4)}
print(set_a)

{1, 2, 'hello', (3, 4)}

In [76]:
set_a.add((4,5))
print(set_a)

{1, 2, 'hello', (3, 4), (4, 5)}

In [77]:
set_a.add(set((4,5)))
print(set_a)

TypeError: unhashable type: 'set'

# **Frozen Set**

- unordered & unindexed
- no duplicates
- immutable ( the only diff between set & frozen set)

In [82]:
f_set_1 = frozenset([1,2,3,2,'hola'])
print(f_set_1)
print(type(f_set_1))
f_set_1.add(('kohli'))

frozenset({1, 2, 3, 'hola'})
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

### ***3.Dictionaries*** ###

- used to store data values in key,value pairs

- it is a collection which is ordered,changeble,do not allow duplicate keys
- it is **mutable**

In [95]:
# mutability example

team_scores = {'dhoni':7,'virat':18,'sky':10,'rohit':55}
print(team_scores)
print(type(team_scores))

print(id(team_scores))

{'dhoni': 7, 'virat': 18, 'sky': 10, 'rohit': 55}
<class 'dict'>
2303890173120

In [89]:
team_scores.update({'arjun':100})

In [91]:
print(team_scores)
print(f'after updating : {id(team_scores)}')

{'dhoni': 7, 'virat': 18, 'sky': 10, 'rohit': 55, 'arjun': 100}
after updating : 2303864047616

In [92]:
user_details = {[1,2,3]:'hello',(1,2,3):'y'}

TypeError: unhashable type: 'list'

In [93]:
user_details = {{1,2,3}:'hello',(1,2,3):'y'}

TypeError: unhashable type: 'set'

In [94]:
user_details = {1:'hello',(1,2,3):'y'}

------------ ***so the key values should be immutable ones***----------------------

In [100]:
user_details_1 = {'arjun':58,'ram':25,'arjun':23}
print(user_details_1)

# here if duplicate key exists it will update with the seconf keys value

{'arjun': 23, 'ram': 25}

In [101]:
a = None
print(type(a))

<class 'NoneType'>

In [104]:
bool('hello')

True

In [107]:
p = bool(complex(0.0,0.1))

print(p,type(p),sep = '\n')

True
<class 'bool'>

In [1]:
# very important

print(bool([]))
print(bool(()))
print(bool({}))

False
False
False