### ***String Methods*** ###

 ### ***1.Strip*** ###

In [1]:
str_1 = ' hello arjun '
print(str_1.strip())
print(str_1.strip('.'))

hello arjun
 hello arjun

In [12]:
str_1 = '....hello masteru chai undha..'
print(str_1.strip('.ha'))           #checking from the first index and last

ello masteru chai und

In [13]:
# lstrip and rstrip

In [20]:
print(str_1.lstrip('oelh.'))

 masteru chai undha..

In [24]:
print(str_1.rstrip('oendlha.'))

....hello masteru chai u

 ### ***2.Split()*** ###
 - splits the string by space in default and will make to a list

In [28]:
message = 'students are going to attend the exam on january'
print(message.split())

['students', 'are', 'going', 'to', 'attend', 'the', 'exam', 'on', 'january']

In [42]:
message_1 = "rohi, surya, virat are very good batsmans "
print(message_1.split(','))
print(message_1.split())
print(message_1.split(' ',maxsplit = 3))

['rohi', ' surya', ' virat are very good batsmans ']
['rohi,', 'surya,', 'virat', 'are', 'very', 'good', 'batsmans']
['rohi,', 'surya,', 'virat', 'are very good batsmans ']

 ### ***3.Join()*** ###

 - works for iterable items

In [44]:
remainder = 'there are 10 days remaining in september'

print(':'.join(remainder))

t:h:e:r:e: :a:r:e: :1:0: :d:a:y:s: :r:e:m:a:i:n:i:n:g: :i:n: :s:e:p:t:e:m:b:e:r

In [49]:
rem = ['there','are','only','10','days','are','in september']

print(' '.join(rem))

print('-'.join(rem))

there are only 10 days are in september
there-are-only-10-days-are-in september

In [1]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
print(f' there are {len(dir(str))} string methods')

 there are 81 string methods

 ### ***4.Replace()*** ###

In [13]:
players = 'kohli,sachin,dhoni,jadeja,raina,ashwin'

print(players)

print(players.replace('sachin','rinku'))

print(players.replace('kohli','virat_kohli'))

kohli,sachin,dhoni,jadeja,raina,ashwin
kohli,rinku,dhoni,jadeja,raina,ashwin
virat_kohli,sachin,dhoni,jadeja,raina,ashwin

In [16]:
str = 'hello arjun,welcome to team'

print(str.replace('hello','hey man !'))

hey man ! arjun,welcome to team

In [19]:
players = 'kohli,shubam dube,dhoni,jadeja,raina,ashwin dube'


print(players.replace('dube','rinku'))


print(players.replace('dube','rinku',1))

kohli,shubam rinku,dhoni,jadeja,raina,ashwin rinku
kohli,shubam rinku,dhoni,jadeja,raina,ashwin dube

 ### ***5.upper()***  ###

In [20]:
name = 'Arjun'

print(name.upper())

ARJUN

 ### ***6.lower()***  ###

In [21]:
name_1 = 'ARjUn'

print(name_1.lower())

arjun

In [25]:
name_1 = 'AR@$%&JUN'

print(name_1.lower())

ar@$%&jun

In [26]:
# .islower() and .isupper() returns a boolean true and false

print(name_1.islower())

print(name_1.isupper())

False
True

 ### ***7.capitalize()***  ###

In [29]:
name = 'Arjun Thatha' # gives the result of first letter as cap and remaining as lower

print(name.capitalize())

Arjun thatha

In [30]:
name_1 = 'ARjun THatha'

print(name_1.capitalize())

Arjun thatha

In [31]:
name_2 = '2342536Loke The warrior'

print(name_2.capitalize())

2342536loke the warrior

 ### ***8.swapcase()***  ###

In [33]:
message = 'Tommorrow is Monday' #lower to upper & upper to lower()

print(message.swapcase())

tOMMORROW IS mONDAY

 ### ***8.isalpha()***  ###

In [34]:
code = 'code red'
code.isalpha()

False

In [35]:
code = 'codered'
code.isalpha()

True

In [38]:
#true for small or capital alphabets ** prints always false if u have other than alphabets (num,space,special char)
code = 'code+red'  
code.isalpha()

False

 ### ***8.isnumeric()***  ###

In [39]:
cricket_score = '1234'

cricket_score.isnumeric()

True

In [40]:
cricket_score = '-1234'

cricket_score.isnumeric()

False

In [41]:
cricket_score = '-123.4'

cricket_score.isnumeric()

False

 ### ***9.isalnum()***  ###

In [51]:
wifi_pass = 'Arjun1729'   # True if consists of both alphabets and numbers

wifi_pass.isalnum()

True

In [52]:
wifi_pass = 'Arjun@1729'

wifi_pass.isalnum()

False

 ### ***10.count()***  ###

In [59]:
fact = 'data sciest is the sexiest job in the 21 st century'

print(fact.count('the'))

print(fact.count('a',0,4))  # --------->>>  .count(str, start_index,last_index)

2
2

 ### ***11.find()***  ###

 - returns the ***lowest index***  where the substring found else returns '-1'

In [75]:
rev = 'python course was good'

print(rev.find('goo'))

print(f'when there is no string found : {rev.find("z")}')

18
when there is no string found : -1

 ### ***12.index()***  ###

 - returns the ***lowest index***  where the substring found else returns 'error'

In [79]:
update = 'new iphone ios 18 : eye feature'

print(update.index('new'))

0

In [80]:
update.index('eye')

20