### ***Mastering String Operations*** ###
#### ***String Operators*** ####
1. Concatenate Operator (+)
2. Repetition Operator (*)
3. String Comparsion Operators (==, !=, >=, <=, >, <)
4. Membership Operators (in, not in)
5. Escape Sequence Operator ( '\', \n, \b, \ooo, \xhh)
6. String Formatting Operator (%s, %d, %f)

In [3]:
print('hey what\'s up boys "this is arjun it\'s me"')

hey what's up boys "this is arjun it's me"

In [ ]:
#Esacpe Sequence Operator

In [1]:
print('today\'s  match "india vs pakisthan\"')

today's  match "india vs pakisthan"

In [4]:
print('1.allensolley : 2000\n2.lewis:5000')  # adds the sentence to the new line

1.allensolley : 2000
2.lewis:5000

In [3]:
print('hi \barjun') # removing the backspace

hiarjun

In [11]:
print('\141')
print('\1412')

a
a2

In [10]:
print(ord('a'),chr(97),sep = ':')

97:a

### ***String Formatting*** ###
- Using % Operator (old method)
- str.format() method
- f-strings

In [8]:
name = 'arjun'
age = 23

print('Hi, my name is %s and age is %d'%(name,age))

Hi, my name is arjun and age is 23

In [3]:
score = 12
score_1 = 12.5025

print('score is :%f'%(score),end = ' ')

print('# default python prints 6 decimal values')

print('score is :%.2f'%(score_1))

print('score is :%.3f'%(score))

score is :12.000000 # default python prints 6 decimal values
score is :12.50
score is :12.000

In [4]:
print('this is {} and im {} younger than him'.format(name,age))

this is arjun and im 23 younger than him

In [5]:
print('this is {1} and im {0} younger than him'.format(name,age))

this is 23 and im arjun younger than him

In [7]:
print('this is {0} and im younger than {0}'.format(name,age))

this is arjun and im younger than arjun

In [10]:
print('my name is {name}, im expertise in data sciene and ml,\nI have worked at {company}'.format(name = 'arjun',company = 'alongX'))

my name is arjun, im expertise in data sciene and ml,
I have worked at alongX

In [14]:
course = 'data Science'
Instute = 'Innomatics'
price = 60000

print('I have took {} course at {} at the price of {:d}'.format(course,name,price))

I have took data Science course at arjun at the price of 60000

In [15]:
print('I have took %s course at %s at price of %d'%(course,Instute,price))

I have took data Science course at Innomatics at price of 60000

In [16]:
package = '11 lpa'
print(f'I have secured a {package} ')

I have secured a 11 lpa

In [28]:
float_val = 12.455

print(f'im rounding the value to 2 decimals : {float_val:.2f}')

im rounding the value to 2 decimals : 12.46

In [29]:
1_000+2_000

3000

In [30]:
1,2

(1, 2)

### ***String Slicing*** ######
- Indexing in string and how to slice?
- string[startVal:endVal:step]
- Reversing a string

In [39]:
# String Slicing

name = 'Arjun Thatha'
'''     01234567891011'''

# by default step size will be 1
# [start,end,step_size]----->end index will not be printed,we have to keep one number frontward

print(name[6:])
print(name[:6])
print(name[::2])
print(name[::1])
print(name[5:3:]) # ---------. prints the empty string
print(name[4:2:-1])
print(name[5:100])
print(name[100:7:-2])

Thatha
Arjun
AjnTah
Arjun Thatha

nu
 Thatha
at